<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/mycooksqr"
        android:label="@string/app_name"
        android:roundIcon="@drawable/mycookrnd"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyCook"
        tools:targetApi="31">
        <activity
            android:name=".newRecipeActivity"
            android:exported="false"
            android:label="@string/title_activity_new_recipe"
            android:theme="@style/Theme.MyCook" />
        <activity
            android:name=".RecommendedActivity"
            android:exported="false" />
        <activity
            android:name=".RecipeActivity"
            android:exported="false" />
        <activity
            android:name=".InventoryListActivity"
            android:exported="false" />
        <activity
            android:name=".ShoppingListActivity"
            android:exported="false" />
        <activity
            android:name=".FavoritesActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>